language: node_js

node_js:
  - "12"
  - "10"

sudo: false

before_install:
  - nvm install-latest-npm

addons:
  apt:
    sources:
     - ubuntu-toolchain-r-test
    packages:
     - libstdc++6 # upgrade libstdc++ on linux to support C++11

script:
  - npm test
  - codecov
